body {
	background-color: #000;
	color: #fff;
	transition: .4s ease-out;
	animation: 1s opacity ease-out;
	-webkit-animation: 1s opacity ease-out;
}
::selection {
	background: #f9f9f9;
	color: #000
}
button, input, textarea {
	outline: none !important;
	cursor: pointer
}
a, .carousel-indicators li {
	cursor: pointer
}
h1 {
	font-size: 4.5rem
}
h1, h2 {
	font-family: 'Product Sans';
	letter-spacing: 1px
}
p {
	font-family: 'Quicksand';
	letter-spacing: 1px;
	color: #878787;
	font-size: 1.5rem
}
.navbar {
	background-color: #333;
	animation: 1s fromtop ease-out;
	-webkit-animation: 1s fromtop ease-out;
}
.banner {
	width: 100%;
	height: 5rem
}
.abt {
	padding: 4rem 0
}
.abt p {
	padding: 2rem 5rem;
	font-family: 'Source Sans Pro';
	font-size: 1.5rem
}
.cntdwn {
	text-align: center;
	padding: 4rem 0
}
.cntdwn h2 {
	font-size: 5rem;
	padding: 2rem 0
}
.cntdwn div {
	padding: 3rem;
	background-color: #333;
	color: #fff;
	font-size: 6rem;
	font-family: 'Product Sans';
	letter-spacing: 1.5rem;
}
.cntdwn p {
	text-align: right;
	font-size: 3.5rem;
	padding: 3rem
}
footer {
	width: 100%;
	height: 20rem;
	background-color: #006699;
	padding: 5rem;
	bottom: 0
}
.fb {
	font-size: 6rem;
	color: #fff;
	transition: .4s ease-out;
	padding: 1rem
}
.fb:hover {
	color: #3b5998;
	background-color: #fff;
}
.abt p i {
	font-family: 'Montserrat';
	font-size: 1.5rem;
	color: #fff
}
.abt p i b {
	font-size: 5rem
}
.nav li {
	transition: .4s ease-out
}
.nav li:hover, a.active {
	background-color: rgba(254, 73, 53, 0.7);
	padding-left: 1rem;
	padding-right: 1rem
}
.mainbod {
	transition: .4s ease-out;
	animation: 1s opacity ease-out;
	-webkit-animation: 1s opacity ease-out;
}
.intro {
	height: 60vh;
	width: 100%;
	padding-top: 40vh;
	text-align: center;
	transition: .2s ease-out
}
.logo {
	font-family: 'Product Sans';
	font-size: 5rem;
	animation: 5s typing;
	-webkit-animation: 5s typing;
	margin: 0 auto;
	overflow: hidden;
    white-space: nowrap;
	font-weight: 500;
	color: rgb(254, 73, 53);
	transition: .4s ease-out
}
.int2 {
	animation: 1.5s totop ease-out;
	-webkit-animation: 1.5s totop ease-out;
}
.lwhite {
	color: #fff
}
.none {
	display: none
}

@keyframes totop{from{margin-top: 0px;opacity: 1}to{margin-top: -300px;opacity: 0}}
@-webkit-keyframes totop{from{margin-top: 0px;opacity: 1}to{margin-top: -300px;opacity: 0}}
@keyframes fromtop{from{margin-top: -300px;opacity: 0}to{margin-top: 0px;opacity: 1}}
@-webkit-keyframes fromtop{from{margin-top: -300px;opacity: 0}to{margin-top: 0px;opacity: 1}}
@keyframes typing{from{width: 0}to{width: 100%}}
@-webkit-keyframes typing{from{width: 0}to{width: 100%}}
@keyframes opacity{from{opacity: 0}to{opacity: 1}}
@-webkit-keyframes opacity{from{opacity: 0}to{opacity: 1}}