canvas {
    vertical-align: bottom;
    height: 100%;
}
#particles-js {
    width: 100%; 
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
}
@media screen and (max-width: 915px) {
}